---
layout: default
---

<div class="post ">
	 <div class="post-title">
		  <h2>Welcome!</h2> 
	 </div><!-- .post-title -->

	 <div class="post-content">
		  <p><img src="{{ "/assests/img/xiaobin.jpg" | relative_url }}"
		  alt="Picutre of Xiaobin Chen" width="40%" class="alignleft size-full
		  wp-image-39" sizes="(max-width: 1600px) 100vw, 1600px" /></p>

		  <p>Hi, this is Xiaobin. I am currently working as a junior research
		  group leader at the <a
		  href="https://uni-tuebingen.de/fakultaeten/wirtschafts-und-sozialwissenschaftliche-fakultaet/faecher/fachbereich-sozialwissenschaften/hector-institut-fuer-empirische-bildungsforschung/institut/">Hector-Institut
		  für Empirische Bildungsforschung (HIB)</a> of the University of
		  Tübingen. HIB is a research institute of education sciences and
		  psychology. My work focuses on language education, especially on how
		  to use the latest intelligent technologies to enhance foreign
		  language education. I am also a member of the <a
		  href="http://icall-research.de/">ICALL Research Group</a> located in
		  the <a href="//sfs.uni-tuebingen.de/">Serminar für Sprachwissenschaft
		  (Department of General and Computational Linguistics)</a>. </p>

		  <p>Before re-joining the University of Tübingen, I was a post-doctoral
		  Research Associate at the <a
		  href="https://www.mmll.cam.ac.uk/">Faculty of Modern and Medieval
		  Languages and Linguistics</a> of <a href="https://www.cam.ac.uk/">the University of
		  Cambridge</a>, where my research was focused on the project Linguistic
		  Typology and Learneability in Second Language led by <a
		  href="//www.mmll.cam.ac.uk/dr-dora-alexopoulou">Dr.  Dora
		  Alexopoulou</a>.</p>

		  <p>I did my PhD at the <a
		  href="http://www.lead.uni-tuebingen.de/">LEAD Graduate School &
		  Research Network</a> of the <a
		  href="http://www.uni-tuebingen.de/">University of Tübingen</a> in
		  Germany. I worked with a team led by <a
		  href="http://purl.org/dm">Prof. Detmar Meurers</a> whose research
		  interests were Computational Linguistics and its application in
		  foreign language teaching. We were interested in building Intelligent
		  Computer Asisted Language Learning (ICALL) systems that utilized
		  Natural Language Processing (NLP) technologies and were informed by
		  second language acquisition theories and practice. </p>

		  <p>Personally, my prvious research focused on automatic
		  assessment of text complexity and on how to link learner proficiency
		  with text complexity. The purpose of this research was to find an
		  optimal method to automatically assign texts of appropriate difficulty
		  levels based on the reader's language proficiencies. The results of
		  this research have been documented in <a
		  href="http://dx.doi.org/10.15496/publikation-27277">my PhD
	  Thesis</a>.</p>

		  <p>I also worked as an English lecturer for six years at the <a
		  href="http://www.scut.edu.cn/sfl/">School of Foreign Languages</a> of
		  the <a href="http://www.scut.edu.cn/">South China University of
		  Technology</a>, where I also obtained my Bachelor's and Master's
		  Degrees in English and Applied Linguistics. I met my wife there too.
		  :)</p>

		  <p>I am leading a happy life with my wonderful wife Wei Chang and our
		  three adorable children Danning, Yuanning, and Anning in the
		  beautiful city of Tübingen in Southern Germany.</p>

	 </div><!-- .post-content -->

</div><!-- /.post -->
