---
layout: default
---

<div class="post ">
	 <div class="post-title">
		  <h2>Welcome!</h2> 
	 </div><!-- .post-title -->

	 <div class="post-content">
		  <p><img src="{{ "/assests/img/xiaobin.jpg" | relative_url }}"
		  alt="Picutre of Xiaobin Chen" width="40%" class="alignleft size-full
		  wp-image-39" sizes="(max-width: 1600px) 100vw, 1600px" /></p>

		  <p>Hi, this is Xiaobin. I am currently a PhD candidate of the <a
				href="http://www.lead.uni-tuebingen.de/">LEAD Graduate School &
		  Research Network</a> of the <a
	 href="http://www.uni-tuebingen.de/">Universität Tübingen</a> in Germany. I
am working with a team led by <a href="http://purl.org/dm">Prof. Detmar
Meurers</a> whose research interests are Computational Linguistics and its
application in foreign language teaching. We are interested in building
Intelligent Computer Asisted Language Learning (ICALL) systems that utilize
Natural Language Processing (NLP) technologies and are informed by second
language acquisition theories and practice. </p>

		  <p>Personally, I am currently involved in my thesis study on automatic
		  assessment of text complexity and on how to link learner proficiency
		  with text complexity. The purpose of this research is to find an
		  optimal method to automatically assign texts of appropriate difficulty
		  levels based on the reader's language proficiencies.</p>

		  <p>Before joining LEAD, I had worked as an English lecturer for six
		  years at the <a href="http://www.scut.edu.cn/sfl/">School of Foreign
		  Languages</a> of the <a href="http://www.scut.edu.cn/">South China
	 University of Technology</a>, where I also obtained my Bachelor's and
Master's Degrees in English and Applied Linguistics. I met my wife there too.
:)</p>

		  <p>I am leading a happy life with my wonderful wife Wei Chang and our
		  two adorable children Danning and Yuanning in Tübingen.</p>

	 </div><!-- .post-content -->

</div><!-- /.post -->
